*{
    margin: 0%;
    padding: 0%;
    max-width: 1200px;
    margin: auto;

}

body {
    background-image: url("../pages/img/architecture-gb9b9a9509_1920.jpg");
    background-size: cover;
    margin: auto;
    /* background-color: black; */
}

.navbar-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img-logo{
    width: 100px;
}

h1{
    color: red;
}

.header-nav {
    max-width: 1200px;
    margin: auto;
}